#Feature2_0 .ant-row > .ant-col > .m9zuw7ri40a-editor_css {
  color: #ffffff;
}
#Feature2_0 .ant-row > .ant-col > .m9zuwty0vj-editor_css {
  color: #f1f1f1;
}
#Feature2_0.m9zuyodw6pf-editor_css {
  background-color: #450a53;
}
#Content1_0.m9zv0x8th5m-editor_css {
  border-top-style: solid;
  border-right-style: solid;
}
