@header0: header0;
@import './custom.less';

.@{header0} {
  background: @template-nav-bg-color;
  width: 100%;
  z-index: 100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;

  .home-page {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-logo {
    display: inline-block;
    position: relative;
    width: 120px;
    line-height: 64px;

    & img {
      vertical-align: middle;
      display: inline-block;
    }

    & a {
      display: block;
    }
  }

  &-menu {
    display: inline-block;
    float: right;

    .ant-menu {
      line-height: 62px;
      height: 64px;
      border-bottom: none;
      background: transparent;

      a {
        display: block;
        color: @template-text-color-light;
        font-size: 16px;
        padding: 0 10px;
      }
      
      .ant-menu-item {
        padding: 0 15px;
        text-align: center;
        
        &:hover {
          color: #fff;
          border-bottom: 2px solid #fff;
        }
        
        &-selected {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .@{header0} {
    &-logo {
      z-index: 101;
    }

    &.home-page-wrapper .home-page {
      padding: 0 24px;
    }

    &-menu {
      height: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      background: @template-nav-bg-color;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
      transition: height 0.3s ease-in-out;
      float: none;
      display: block;
      
      &.open {
        height: auto;
      }

      .ant-menu {
        width: 100%;
        height: auto;
        line-height: 50px;
        
        .ant-menu-item {
          display: block;
          width: 100%;
          text-align: left;
          padding: 0 24px;
          
          a {
            padding: 0;
          }
        }
      }
    }

    &-mobile-menu {
      width: 16px;
      height: 14px;
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 100;

      em {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 4px;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
      }

      :first-child {
        margin-top: 0;
      }
    }
  }
}